.login-container {
  display: flex;
  height: 100vh;
}

/* LEFT */
.login-left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 180px;
  background: var(--color-gray-100);
}

.login-content {
  width: 100%;
  max-width: 420px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.login-title {
  line-height: 110%;
  margin-bottom: 64px;
}

/* FORM */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* BUTTON */
.login-button {
  height: 56px;
  border-radius: 8px;
  border: none;
  background: var(--color-gray-300);
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
}

.login-button.active {
  background: var(--gradient-primary);
}

.login-button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

/* ERROR */
.error-message {
  color: var(--color-danger);
}

/* RIGHT */
.login-right {
  flex: 1;
  background: var(--color-gray-200);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  padding-top: 160px;
}

.login-image {
  width: 662px;
  max-width: 100%;
  height: auto;
}
/* Control interno específico */
.password-block {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* Forgot */
.forgot-password {
  text-align: right;
  color: var(--color-primary-dark);
  text-decoration: none;
  font-size: var(--caption2-size);
}

.forgot-password:hover {
  text-decoration: underline;
}

.login-actions {
  margin-top: 50px; /* ajusta aquí */
}