.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.success-modal {
    background: white;
    width: 561px;
    height: 566px;
    /* 👈 importante */
    padding: 32px 24px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-close {
    position: absolute;
    top: 16px;
    right: 16px;
    border: none;
    background: transparent;
    font-size: 18px;
    cursor: pointer;
}

.modal-image {
    width: 308px;
    height: 304px;
    object-fit: contain;
    margin-bottom: 24px;
  }
.success-modal h3 {
    color: var(--color-primary);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
}

.success-modal p {
    font-size: 14px;
    color: #555;
}