:root {
  /* Colors */
  --color-primary-dark: #010e11;
  --color-gray-100: #f9f9fa;
  --color-gray-200: #f5f6f6;
  --color-gray-300: #dee0e0;
  --color-gray-400: #b9c1c2;

  --color-teal-700: #167287;
  --color-teal-500: #05bcb9;

  --color-danger: #ce3434;

  --gradient-primary: linear-gradient(135deg, #05bcb9, #167287);

  /* Typography */
  --font-family: "Open Sans", sans-serif;

  --title-size: 48px;
  --subtitle-size: 28px;
  --subtitle2-size: 24px;
  --body-size: 16px;
  --caption1-size: 14px;
  --caption2-size: 12px;
}
